# PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/caches/
# Python
__pycache__/
*.py[cod]
*$py.class
# Virtual environment
venv/
.env
env/
.venv/
# Build / dist
build/
dist/
*.egg-info/
.eggs/
# VSCode (if used)
.vscode/
*.png
*.html
.idea/
*.pyc
db.sqlite3
/staticfiles/
/media/
